@import "vendor/custom_b_variables";
@import "src/styles/vendor/bootstrap";
@import "src/styles/mixins";

html, body {
	height: 100%;
}

.wrapper {
	height: 100%;
	background-image: url('../images/background.jpg');
	background-position: center center;
	background-repeat: no-repeat;
}

.header {
    font-size: 130px;
	color: white;
	font-family: "Alexbrush-regular", Helvetica, Arial, sans-serif;
}

.description {
	color: white;
	font-family: "Sourcesanspro-extralight", Helvetica, Arial, sans-serif;
}

.content {
    width: 800px;
    display: table;
    height: 100%;
    margin: 0 auto;
}

.content-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.link {color: white; text-decoration: underline;}
.link:hover {color: #b0c5a9; text-decoration: none;}
