.central-part-wrapper
	.central-part
		h1.header Adventourer
		h3.description Simple Gulp engine with installed bootstrap, Stylus and Pug. JS part uses Require.js. Ready for a plugin or simple site development
		a.link(href="https://github.com/DenTivor/Adventourer" target="_blank") Download!