extends ./tpl/_base
include ./mixins/mixins

block content

	.content
		.content-inner
			h1.header Adventourer
			h3.description Simple Gulp engine with installed bootstrap, sass and jade. JS part uses Require.js. Ready for a plugin or simple site development
			a.link(href="https://github.com/DenTivor/Adventourer" target="_blank") Download!
block footer